<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".PropertiBerhasil"
            android:exported="false" />
        <activity
            android:name=".input.InputSummary"
            android:exported="false" />
        <activity
            android:name=".DetailPesan"
            android:exported="false"
            android:label="@string/title_activity_detail_pesan"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".DetailProperti"
            android:exported="false" />
        <activity
            android:name=".input.InputFasilitasProperti"
            android:exported="false" />
        <activity
            android:name=".input.InputVideo"
            android:exported="false" />
        <activity
            android:name=".input.InputLokasi"
            android:exported="false" />
        <activity
            android:name=".input.InputProperti"
            android:exported="false" />
        <activity
            android:name=".input.InputVilla"
            android:exported="false" />
        <activity
            android:name=".input.InputTanah"
            android:exported="false" />
        <activity
            android:name=".input.InputRumah"
            android:exported="false" />
        <activity
            android:name=".input.InputRuko"
            android:exported="false" />
        <activity
            android:name=".input.InputRuangUsaha"
            android:exported="false" />
        <activity
            android:name=".input.InputPabrik"
            android:exported="false" />
        <activity
            android:name=".input.InputKondominium"
            android:exported="false" />
        <activity
            android:name=".input.InputKantor"
            android:exported="false" />
        <activity
            android:name=".input.InputGudang"
            android:exported="false" />
        <activity
            android:name=".input.InputApartemen"
            android:exported="false"
            android:label="@string/title_activity_input_apartemen"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".ChangePass"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>